.container-fluid {
  width: auto;
  text-align: center;
  margin: 1%;
}

h1 {
  margin-bottom: 5%;
}

.card-image {
  height: 30%;
  width: 30%;
  object-fit: cover;
  border-radius: 7%;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}
